<html>
    <head>
        <script language="javascript" type="text/javascript" src="javascript/p5.js"></script>
        <script language="javascript" type="text/javascript" src="javascript/p5.sound.js"></script>
        <script lagnuage="javascript" musicName="<%=musicName%>" type="text/javascript" src="javascript/sketch.js"></script>
    </head>
    <body>
        <h1>푸리의 변환</h1>
    </body>
</html>